PORT=3001
DB_URI=database_url
CLERK_SECRET_KEY=client_key

# SendGrid integration
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=githubstreak@email.com